<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-4" style="width:50%">
			<p style="color:#1B242F">版权所有 &copy; 2017-2019 <@_sysConfigData code="site">${object.company_name}</@_sysConfigData><br>
			<@_sysConfigData code="site">${object.company_addr}</@_sysConfigData>
		</div>
		<div class="col-md-4 social"  style="width:50%">
			<ul>
				<li><a style="color:#1B242F" href="contcat.html?id=7">使用条款</a>&nbsp;|&nbsp;<a style="color:#1B242F" href="contcat.html?id=8">隐私条款</a></li>&nbsp;&nbsp;<li><a style="color:#1B242F" href="<@_sysConfigData code='site'>${object.record_refer}</@_sysConfigData>"><@_sysConfigData code="site">${object.homepage_record}</@_sysConfigData></a></li><br>
				<li>电话:<@_sysConfigData code="site">${object.company_phone}</@_sysConfigData></li>&nbsp;&nbsp;
				<li>传真:<@_sysConfigData code="site">${object.company_fax}</@_sysConfigData></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- footer -->